@model IEnumerable<GrannysKitchen.Models.DBModels.Categories>

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-uppercase">list of categories</h3>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i> Add New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CategoryImage)</th>
            <th>@Html.DisplayNameFor(model => model.CategoryName)</th>
            <th>Action(s)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="~/images/categories/@item.CategoryImage" class="img-thumbnail" height="100" width="100" asp-append-version="true" />
                    </a>
                </td>
                <td>@item.CategoryName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
